@charset "utf-8";

@font-face {
    font-family: "avenir";
    src: url(../font/Avenir.ttc) format('truetype-collection');
    
}
@font-face {
    font-family: "worksans";
    src: url(../font/WorkSans-VariableFont_wght.ttf) format('truetype');
   
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "avenir";
}

html {
    /* font-size: clamp(2px, 1vw, 18px); */
    font-size: 62.5%;
}

body {
    /* font-size: clamp(2px, 1vw, 18px); */
    /* font-size: 62.5%; */
    background-color: #fff;
    font-style: normal;
    line-height: 1.5;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}
img, svg {
    display: block;
    width: 100%;
}

.wrap {
    width: 100%;
}

header {
    width: 100%;
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.header_wrap {
    width: calc(100% - 80px);
    max-width: 800px;
    /* height: 50px; */
    padding: 10px 10px 10px 32px;
    /* left: 50%;
    transform: translate(-50%, 0); */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1000px;
    transition-duration: 0.15s;
    font-size: 16px;
}

.header_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 1000px;
}

.logo {
    width: 26px;
    font-size: 0;
    transition-duration: 0.15s;
    z-index: 1;
}

.logo:hover {
    opacity: 0.4;
}

.logo a {
    width: 100%;
}

nav {
    z-index: 1;
}

nav ul {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav li {
    cursor: pointer;
    transition-duration: 0.15s;
}

nav li:hover {
    opacity: 0.5;
}

a.login, .m_menu {
    padding: 0.8rem 2rem;
    border-radius: 1000rem;
    transition-duration: 0.15s;
    cursor: pointer;
    z-index: 1;
}

a.login:hover {
    background-color: #fff;
}

.menu_wrapper{
    display: none;
    position: relative;
}

.m_menu {
    display: none;
    padding: 0.4rem 1.2rem;
    font-size: 14px;
    position: relative;
}

/* .m_menu:hover {
    background-color: #fff;
} */

.menu_items_wrapper {
    display: none;
    width: max-content;
    padding-top: 39px;
    position: absolute;
    top: 0;
    right: -10px;
    /* background: rgba(255, 255, 255, 1); */
    background-color: #fff;
    backdrop-filter: blur(8px);
    border-radius: 12px 18px 12px 12px;
    overflow: hidden;
    z-index: 0;
}

.menu_items {
    width: max-content;
    /* background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px); */
    /* border-radius: 12px; */
    border-top: 1px solid #eee;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

.menu_items a {
    padding: 6px 12px;
    color: #111;
    font-size: 14px;
    text-align: center;
}

.menu_items a:hover {
    transition-duration: 0.15s;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

footer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    /* margin-top: 22.7rem; */
    height: 40rem;
    background-color: #000;
    color: #fff;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}
.foot_menu{
    width: 80%;
    max-width: 1056px;
    margin: 0 auto;
    height: 34px;
    padding-top: 30px;
}
.foot_menu ul{
    display: flex;
    justify-content: space-between;
}
.foot_menu li {
    font-size: 20px;
    opacity: 60%;
    cursor: pointer;
    transition-duration: 0.2s;
}

.foot_menu li:hover {
    opacity: 100%;
}

.foot_menu li.current {
    opacity: 100% !important;
    text-decoration: underline;
    text-underline-offset: 8px;
}

footer svg{
    width: 100%;
    max-width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.copyright {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 3%;
    left: 50%;
    opacity: 60%;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.btn {
    width: max-content;
    margin-top: 3.6rem;
    padding: 14px 24px 14px 28px;
    display: flex;
    gap: 4px;
    gap: 0.4rem;
    align-items: center;
    line-height: 1;
    border-radius: 100rem;
    background-color: #E5CF28;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    transition-duration: 0.15s;
}

.btn:hover {
    background-color: #000;
    color: #fff;
}

.btn:hover .arrow {
    transform: translate(25%, 0);
}

.btn:hover .arrow path {
    stroke: #fff;
}

.arrow {
    display: block;
    /* width: 12px; */
    width: 1.2rem;
    padding-bottom: 1px;
    transition-duration: 0.15s;
}


@media only screen and (min-width : 851px) and (max-width : 1020px) {
    .foot_menu li{
        font-size: 1.6rem;
    }
    .foot_menu ul{
        display: block;
    }
    footer{
        height: 30rem;
    }

}
@media only screen and (max-width : 850px) {
    .header_wrap {
        padding: 10px 10px 10px 24px;
    }
    
    .logo {
        width: 20px;
    }

    header nav,
    a.login {
       display: none;
    }

    .menu_wrapper,
    .m_menu {
        display: block;
    }
    .foot_menu ul{
        display: block;
    }
    .foot_menu li{
        font-size: 1.6rem;
    }
     footer{
        height: 30rem;
    }
    footer svg{
        pointer-events: none;
        user-select: none;
    }
}
