@charset "utf-8";

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;   
}

.main_title{
    margin: 0 auto;
    margin-top: 14rem;
    text-align: center;
    /* background-color: red; */
}

.main_title p{
    font-size: 1.6rem;
    color: #777;
}

.main_title h2{
    font-size: 5rem;
    font-weight: 500;
}

.tab_section {
    width: 96%;
    aspect-ratio: 2 / 1;
    margin: 0 auto;
    margin-top: 6rem;
    position: relative;
    background-color: #000;
    border-radius: 2rem;
    overflow: hidden;
}

.tab_nav{
    width: fit-content;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 10;
    visibility: visible;
}

.tab_nav li{
    width: max-content;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 99.9rem;
    color: #9E8E8D;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
}

.tab_nav.elipsis{
    gap: 1.2rem;
    top: unset;
    bottom: 8%;
    visibility: hidden;
}

.tab_nav.elipsis li{
    padding: 0.5rem 0.5rem;
    background: rgba(255, 255, 255, 0.3);
}

.tab_nav li:hover, .tab_nav li.on {
    background: rgba(255, 255, 255, 1);
    color: #000;
}

.tab_nav li:hover {
    transition-duration: 0.15s;
}

.content_container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.content_container>div>div { display: none; }
.content_container>div>div:first-child { display: block; }

.tab_image_wrap {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tab_image, .tab_text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tab_image, .tab_image>div {
    width: 100%;
    height: 100%;
    user-select: none;
}

.tab_image img {
    width: auto;
    height: 100%;
}

.tab_gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to left, #000, transparent);
    z-index: 1;
}

.tab_text_wrap {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tab_text>div {
    width: fit-content;
    padding-left: 4rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab_text:first-child>div {
    transform: translateY(-50%);
}

.tab_text h3 {
    font-size: 3.8rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.3;
}

.tab_text p {
    width: 80%;
    margin: 2.6rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    mix-blend-mode: lighten;
}

/* .content_container {
    width: 100%;
    height: 100%;
    position: relative;
}

.content_container>div { display: none; }
.content_container>div:first-child { display: block; }

.content_wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #000;
}

.tab_image{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.tab_image img {
    width: auto;
    height: 100%;
}

.tab_text {
    width: 50%;
    padding-left: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab_text h3 {
    font-size: 3.8rem;
    font-weight: 500;
    color: #fff;
}

.tab_text p {
    width: 80%;
    margin: 2.6rem 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: #bbb;
} */

.collabo_btn {
    margin-top: 2rem;
}

.collabo_btn:hover{
    background: #fff;
    color: #000;
}

.btn:hover .arrow {
    transform: translate(25%, 0);
}

.btn:hover .arrow path {
    stroke: #000;
}

.sub_title{
    margin: 0 auto;
    margin-top: 18rem;
    text-align: center;
}
.sub_title h2{
    font-size: 3.6rem;
    color: #444;
}
.sub_title p{
    font-size: 1.8rem;
    font-weight: 400;
    color: #646464;
    margin-top: 1.6rem;
}
.bottom_title{
    margin-top: 0.6rem;
    font-size: 2.8rem;
    font-weight: 500;
}
.balenciaga_article{
    width: 95%;
    margin: 0 auto;
    margin-top: 12rem;
}
.balenciaga_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
    overflow: hidden;
}
.balenciaga_container>div{
    width: calc(97% / 3);
}
.balenciaga_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.balenciaga_container img{
    border-radius: 2rem;
}
.rimowa_article{
    width: 95%;
    margin: 0 auto;
    margin-top: 12rem;
}
.rimowa_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
    overflow: hidden;
}
.rimowa_container img{
    border-radius: 2rem;
}
.rimowa_container>div{
    width: calc(97% / 3);
}
.rimowa_container>div.rimowa_left{
    width: calc((97% / 3) * 2 + 1.5%);
}
.rimowa_container>div.rimowa_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ader_article{
    width: 95%;
    margin: 0 auto;
    margin-top: 12rem;
}

.ader_container{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
   align-items: stretch;
    overflow: hidden;
}
.ader_container div{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    overflow: hidden;

}
.ader_container img{
    height: 100%;
}
.ader_left{
    width: calc((97% / 9) * 3);
  
}
.ader_center{
    width: calc((97% / 9) * 4);
 
}
.ader_right{
    width: calc((97% / 9) * 2);
    
}
.medea_article{
    width: 95%;
    margin: 0 auto;
    margin-top: 12rem;
}
.medea_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}
.medea_container img{
    border-radius: 2rem;
}

.medea_container>div{
    width: calc(97% / 3);
}
.medea_center{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
footer{
    margin-top: 18rem;
}

@media only screen and (max-width: 1020px) and (min-width: 821px) {
    .sub_title h2{
        font-size: 2.8rem;
    }
    
    .bottom_title { font-size: 2.4rem; }

    .tab_nav { visibility: hidden; }
    .tab_nav.elipsis { visibility: visible; }

    .content_container { display: block; }
    .tab_image_wrap {
        width: 100%;
    }

    .tab_image img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .tab_text_wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tab_text h3 { text-shadow: 0 0 6px #000; }
}

@media only screen and (max-width: 820px) and (min-width: 517px) {
    .sub_title h2{
        font-size: 2.8rem;
    }
    
    .bottom_title { font-size: 2.4rem; }

    .tab_nav { visibility: hidden; }
    .tab_nav.elipsis { visibility: visible; }

    .content_container { display: block; }
    .tab_image_wrap {
        width: 100%;
    }

    .tab_image img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .tab_text_wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tab_text>div {
        width: 100%;
        padding-right: 4rem;
        left: 0;
    }

    .tab_text h3 {
        font-size: 3rem;
        text-align: center;
        text-shadow: 0 0 6px #000;
    }

    .tab_text p {
        width: 100%;
        margin: 2rem 0;
        font-size: 1.4rem;
        text-align: center;
    }

    .collabo_btn { display: none; }
}



@media only screen and (max-width : 516px) {
    .main_title h2 {
        font-size: 4rem;
    }
    .sub_title{
        margin-top: 8rem;
    }
    .sub_title h2 {
        font-size: 2.4rem;
    }

    .bottom_title {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    .tab_nav { visibility: hidden; }
    .tab_nav.elipsis { visibility: visible; }

    .content_container { display: block; }
    .tab_image_wrap {
        width: 100%;
    }

    .tab_image img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .tab_text_wrap {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tab_text>div {
        width: 100%;
        padding-right: 4rem;
        left: 0;
    }

    .tab_text h3 {
        font-size: 3rem;
        text-align: center;
        text-shadow: 0 0 6px #000;
    }

    .tab_text p {
        width: 100%;
        margin: 1.6rem 0;
        font-size: 1.4rem;
        text-align: center;
    }

    .collabo_btn { display: none; }

    .rimowa_article,
    .ader_article,
    .medea_article,
    .balenciaga_article {
        margin-top: 8rem;
    }
}